---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Ballard%20Nature%20Center%20Altamont%20IL&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ballard Nature Center",
                       "short_name" : "Ballard Nature Center",
                       "types" : [ "establishment", "park", "point_of_interest", "tourist_attraction" ]
                    },
                    {
                       "long_name" : "5253",
                       "short_name" : "5253",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "U.S. 40",
                       "short_name" : "US-40",
                       "types" : [ "route" ]
                    },
                    {
         [...]
